textarea[name="customDataRaw"] {
  min-height: var(--spectrum-global-dimension-size-4600) !important
}

.app-data-parameters-section {
  padding-left: var(--spectrum-global-dimension-size-300);
  border-left: 2px solid var(--spectrum-alias-border-color);
  margin-top: var(--spectrum-global-dimension-size-100);
  margin-bottom: var(--spectrum-global-dimension-size-100);
}
